word2vec/embeddings.pt filter=lfs diff=lfs merge=lfs -text
word2vec/embeddings.npy filter=lfs diff=lfs merge=lfs -text
data/text8 filter=lfs diff=lfs merge=lfs -text
data/processed-dictionary.txt filter=lfs diff=lfs merge=lfs -text
data/cache filter=lfs diff=lfs merge=lfs -text
ms_marco_embeddings.npy filter=lfs diff=lfs merge=lfs -text
ms_marco_two_tower.pt filter=lfs diff=lfs merge=lfs -text
ms_marco_word_to_index.json filter=lfs diff=lfs merge=lfs -text
output/ filter=lfs diff=lfs merge=lfs -text
output/ms_marco_embeddings.npy filter=lfs diff=lfs merge=lfs -text
output/ms_marco_two_tower.pt filter=lfs diff=lfs merge=lfs -text
output/ms_marco_word_to_index.json filter=lfs diff=lfs merge=lfs -text
simple_two_tower.pt filter=lfs diff=lfs merge=lfs -text
output/run_20250205_113840 filter=lfs diff=lfs merge=lfs -text
output/hyperparameter_comparison.png filter=lfs diff=lfs merge=lfs -text
output/run_20250205_113026 filter=lfs diff=lfs merge=lfs -text
output/run_20250205_113246 filter=lfs diff=lfs merge=lfs -text
server/python-api/model/__init__.py filter=lfs diff=lfs merge=lfs -text
server/python-api/model/best_model.pt filter=lfs diff=lfs merge=lfs -text
server/python-api/model/margin_two_tower.py filter=lfs diff=lfs merge=lfs -text
